<section layout="row" flex>
  <md-content class="code" flex>
    <div ng-if="!diff" hljs source="content" no-escape></div>
    <pre class="hljs" ng-if="diff" class="textdiff" semantic-diff left-obj="content" right-obj="diff"></pre>
  </md-content>
  <md-sidenav ng-if="filename" class="session-sidenav md-sidenav-right md-whiteframe-z2" md-component-id="right"
              md-component-id="right" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-theme-indigo">
      <div layout="column" layout-align="center center" style="height: 100px;">
        <md-select ng-change="changeFile(selectedFile)" ng-model="selectedFile" placeholder="{[{filename}]}">
          <md-option ng-value="$index" ng-repeat="file in files track by $index">{[{file.name}]}</md-option>
        </md-select>
      </div>
    </md-toolbar>
    <md-content class="changes md-padding" ng-controller="LeftNavCtrl">
      <md-list>
        <md-item ng-class="{selected:(currentChanges === $index)}" ng-repeat="item in changesInCurrentFile">
          <md-item-content>
            <div class="md-tile-content">
              <a href="" ng-click="selectChange($index)">
                #{[{$index}]}: 
                <span am-time-ago="{[{momentjs(item.updatedAt.date+item.updatedAt.timezone)}]}"></span>
              </a>
            </div>
          </md-item-content>
        </md-item>
      </md-list>
    </md-content>
  </md-sidenav>
</section>